

<form method='POST' action='/users/donations'>
<input type ='hidden' value='{{ user._id }}' name='user_id'>
  <fieldset>
    <legend>New donation for {{user.username}} </legend>    
    <div class='form-group mb-1'>
      <label for='charity'>Select Charity:</label><br>
      <select name='charity' class='form-control'>
        <option>Smart Dogs</option>
        <option>Dog 4 Peace</option>
        <option>Treats 4 Dogs</option>
        <option>Doggos United</option>
    </div>
    <div class='form-group mb-1'>
      <label for='date'>Date</label>
      <input type='date' id='date' name='date' class='form-control' required>
    </div>
    <div class='form-group mb-1'>    
      <label for='amount'>Amount: </label><br>
      <input type='number' id='amount' name='amount' step='1' class='form-control' min='1.00' placeholder='$100' required>
    </div>
  </fieldset>

  <button type='submit' class='btn btn-success'>Upload Donation</button>
</form>
