<!-- templates/partials/navuser.html -->

<nav style="background-color: white; margin-top: 10px;">

  <div>
      <div class='btn-group'>
      <p style="margin-top: 11px;">/</p>    
      <form action='/' style='margin-right: 10px;'>
          <button class='btn btn-secondary' type='submit'>Dashboard</button>
      </form>
      <p style="margin-top: 11px;">/</p>
      <form action='/users/{{ user._id }}' style='margin-right: 10px;'>
        <button class='btn btn-secondary' type='submit'>Home</button>
      </form>
      <p style="margin-top: 11px;">/</p>
      <form action='/users/{{ user._id }}/edit' style='margin-right: 10px;'>
          <button class='btn btn-secondary' type='submit'>Edit</button>
      </form>
      <p style="margin-top: 11px;">/</p>
      <form method='POST' action='/users/{{user._id}}/delete' onclick="return confirm('Are you sure you want to delete this User?')">
          <button class='btn btn-secondary' type='submit'>Delete</button>
      </form>
      <p style="margin-top: 11px;">/</p>      
        <button class='btn btn-secondary' type='submit'><a href="#new" style="text-decoration: none;">New Project</a></button>
      <p style="margin-top: 11px;">/</p>
        <button class='btn btn-secondary' type='submit'><a href="#new" style="text-decoration: none;">New Article</a></button>      
        <p style="margin-top: 11px;">/</p>  
    </div>
  </div>
</nav>

