<!-- templates/partials/users_form.html -->
{% block content %}

<fieldset>
  <legend>{{ title }}</legend>
   <!-- TITLE -->
   <div class='form-group'>
       <label for='users-username'>User ID Information</label><br>
       <input class='form-control' id='users-username' type='text' name='username' value='{{ user.username }}'/>
   </div>

   <!-- NAME -->
   <div class='form-group'>
       <label for='name'>Full Name</label><br>
       <input class='form-control' id='name' type='text' name='name' value='{{ user.name }}' />
   </div>
   
</fieldset>


{% endblock %}
