{% extends 'base.html' %}

{% block content %}
{% include 'partials/navuser.html' %}
<div class="container mt-3">
  <div class>
    <h2 class="row mb-4">{{ user.name }}</h2>
  </div>
  <div class="row " style="border-top: 1px solid grey;">
    <div style="display:flex;"><p class='card-title text-muted' style="margin-right: 10px; margin-top: 10px;">Applying to Company:</p><p class='text-primary' style="margin-top: 10px;">{{ user.company }} </p></div> 
    <div style="display:flex;"><p class='card-title text-muted' style="margin-right: 10px;">Position Applying to:</p><p class='text-primary'>{{ user.position }} </p></div>  
     <p class="text-muted col-lg-12">Short Bio: {{ user.bio }}</p>
  </div>    
  <div class="row row-cols-2 row-cols-2 row-cols-2 mt-2" style="border-top: 1px solid grey;" >
    <div class="col-12">
      <!-- PROJECTS Start -->
      <h4 class="row mt-2"style="margin-top" id="project">Projects</h4>
      
      <div class="text-left col-lg-12">
        <p class="text-muted para-desc mx-auto mb-0">Eventually the User will write a fascinating piece about how all these projects tie together. But For now: The projects I dedicated hours and hours of my life because the steaks were high. Now relegated to the dust bins of history. 
            Please oh pretty please take a look at my beautiful work and hire me to create what will become the masterpiece of the digital era! 
            Let's say you run a cow-milking user experience website?.. Odd but okay.. NO PROBLEM! I'll make it amazing you udder-ly wont believe your eyes! You give me a job, I stop the buns.</p>
      </div>   
        {% for project in projects %}
            {% include 'partials/project.html' %}
        {% endfor %}
    </div>
  </div>
  <!-- PROJECTS End -->
  <!-- Articles Start -->
  <section class="section" id="article" id="article">
    <div class="container" style="border-top: 1px solid grey;">
      <h4 class="row mt-2"style="margin-top ">Articles</h4>
        <div class="row justify-content-center" style='margin-top: 10px;'>
          
            <div class="col-12">
                <div class="section-title text-left mb-4 pb-2">
                    <p class="text-muted mx-auto mb-0">Article Overview where the user will enter the thread, threading these articles.. or not? Otherwise a placeholder: A few of the articles I wrote have a penchant for Architecture and Design. Here's a selection of favorites to take a look @ and enjoy the beautiful prose coursing through my fingertips.</p>
                </div>
            </div>
        </div>
  
        <div class="row">   
               
        {% for article in articles %}
        {% include 'partials/article.html' %}
        {% endfor %}  
             
        </div>
        
        
    </div>
    <div>
      <button type="button" class="btn btn-outline-light">Easter Egg!</button>
    </div>
    <div class="row row-cols-2 row-cols-2 row-cols-2 mt-2" style='border-top: 1px solid grey; margin: 20px;border-bottom: 1px solid grey; margin: 20px;' id="new">
      {% include 'partials/project_form.html' %}
      {% include 'partials/article_form.html' %} 
    </div>
  </section>
  <!-- Articles End -->


  <div class="row row-cols-2 row-cols-2 row-cols-2 mt-2" style="border-top: 1px solid grey; margin-left: 10px; margin-right: 10px;">
    <p>Simply Portfolio</p>

  </div>


</div>

{% endblock %}



